.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todo-list {
    width: 100%;
    list-style: none;
}

.alert-div {
    font-size: 0.7rem;
    text-align: center;
    padding: 0.3rem;
    margin: 5rem 0.9rem 0 0.9rem;
    width: 80%;
    border-radius: 5px;
    color: #333;
}


