* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background: #00b09b;  
  background: url(./images/landscape.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}
